.dark-mode-boton{
    background-image: url(/build/img/Sun_mode.svg);
    height: 3rem;
    width: 3rem;
    background-repeat: no-repeat;
    transition: background-image .3s linear;
}

.change{
    transition: background-image .3s linear;
    background-image: url(/build/img/dark-mode.svg);
}

.derecha .dark-mode-boton{
    margin-bottom: 0;
    
}

.dark-mode{
    background-color: darken($grisOscuro, 10);

    p{
        color: $blanco;
    };

    h1, h2, h3, h4, a{
        color: $gris;
    };

    .anuncio, .resumen-propiedad{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio{
            color: $verde;
        }
        .icono{
            filter: invert(100%);
        }
    }
    .nosotros__contenido blockquote{
        color: $blanco;
    }

    .formulario{
        label,
        legend,
        p {
            color: $gris;
        }

        input:not([type="submit"]),
        textarea,
        select {
            background-color: $grisOscuro;
            color: $blanco;
            border: 1px solid $grisOscuro;
        }
    }
    
};

.contenedor-dark{
    @include grid(2, 2rem)
}

